<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html">Car<span>Book</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="index.html" class="nav-link">Ana Səhifə</a></li>
                <li class="nav-item"><a href="index.html" class="nav-link">Avtomobil İcarəyə Götür</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link">Haqqımızda</a></li>
                <li class="nav-item "><a href="services.html" class="nav-link">Xidmətlər</a></li>
                <li class="nav-item"><a href="pricing.html" class="nav-link">Qiymətlər</a></li>
                <li class="nav-item"><a href="car.html" class="nav-link">Maşınlar</a></li>
                <li class="nav-item"><a href="blog.html" class="nav-link">Bloqlar</a></li>
                <li class="nav-item"><a href="contact.html" class="nav-link">Əlaqə</a></li>
            </ul>
        </div>
    </div>
</nav>